.footer-containt{
    margin-top: 80px;
}
.first{
    width: 50%;
}
.icon-logo{
    font-size: 22px;
    margin-right: 10px;
}
.d-flex{
    margin-bottom: 20px;
}
.copy-right{
    text-align: center;
}